  <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">AMDSB Application Approvals</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
         {{#if isAuthenticated}}
          <li class="nav-item">
            <a class="nav-link" href="/addApp">Add App</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/inventory">Inventory</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/vaspSpreadsheet">VASP</a>
          </li>
            
          {{/if}}
        </ul>
        </div>
          {{#if isAuthenticated}}
         
            <button type="button" onclick="window.location.href='/auth/signout';" class="btn btn-primary">Sign Out</button>
             <span style="color:white; padding-left: 10px;">{{name}}</span>
          {{else}}
     
            <button type="button" onclick="window.location.href='/auth/signin';" class="btn btn-primary">Sign In</button>
      
        {{/if}}
      </div>
    
  </div>
</nav>